@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap');

* {
  box-sizing: border-box;
}

.container {
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  border-radius: 8px;
  text-align: center;
  backdrop-filter: blur(18px);
  background-color: rgba(8, 8, 8, 0.58);
  margin: 10px;

  @media screen and (max-width: 960px) {
    width: 350px;
    height: 180px;
  }
  @media screen and (max-width: 745px) {
    width: 300px;
    height: 150px;
  }
  @media screen and (max-width: 640px) {
    width: 320px;
    height: 120px;
    margin: 1px;
  }

  .container__img {
    box-sizing: border-box;
    width: 200px;
    height: 100%;
    padding: 5px;
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(6px);
    background-color: rgb(255, 255, 255);

    @media screen and (max-width: 960px) {
      width: 180px;
    }
    @media screen and (max-width: 745px) {
      width: 150px;
    }
    @media screen and (max-width: 640px) {
      width: 90px;

    }

    .imgBeer {
      width: 60px;
      height: auto;

      @media screen and (max-width: 745px) {
        width: 45px;
      }
      @media screen and (max-width: 640px) {
        width: 40px;
        height: auto;
      }
    }
  }

  .container__description {
    box-sizing: border-box;
    width: 250px;
    height: 100%;

    .title {
      font-family: 'Edu NSW ACT Foundation', cursive;
      font-size: 1.3em;
      font-weight: 700;
      margin: 10px 3px;

      @media screen and (max-width: 640px) {
        font-size: 1em;
      }
    }

    .description {
      padding: 5px;
      font-size: 18px;
      font-family: 'Edu NSW ACT Foundation', cursive;
      text-align: justify;
      margin: 0 3px;

      @media screen and (max-width: 960px) {
        padding: 3px;
        font-size: 15px;
      }
      @media screen and (max-width: 745px) {
        padding: 2px;
        font-size: 14px;
      }
    }
  }
}