* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap');

.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  //margin: 10px;
  //border:1px solid rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .container__img {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(18px);
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 15px 0 0 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);

    .img__beer {
      height: 90%;

      @media screen and (max-width: 745px) {
        height: 60%;
      }
      @media screen and (max-width: 500px) {
        height: 50%;
      }
      @media screen and (max-width: 400px) {
        height: 40%;
      }
    }
  }

  .container__property {
    width: 65%;
    height: 100%;
    padding: 10px;
    text-align: justify;
    backdrop-filter: blur(18px);
    background-color: rgba(0, 0, 0, 0.48);
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 400;
    //font-size: 1.3em;
    font-size: calc(10px + 10 * (100vw / 1280));
    border-radius: 0 15px 15px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);

    @media screen and (max-width: 400px) {
      padding: 5px;
    }


    .title {
      text-align: center;
      margin: 5px 0;
      //font-family: 'Edu NSW ACT Foundation', cursive;
      //font-size: 1.7em;
      font-size: calc(28px + 14 * (100vw / 1280));
      font-weight: 700;
      text-transform: uppercase;
      color: #03d4d4;

      @media screen and (max-width: 400px) {
        font-size: calc(22px + 14 * (100vw / 1280));
      }

    }

    .hr__line {
      margin: -40px auto 3px;
      padding: 0;
      height: 50px;
      border: none;
      border-bottom: 1px solid #fcfcfc;
      box-shadow: 0 20px 20px -20px rgba(254, 254, 254, 0.98);
      width: 90%;
    }

    .title__description {
      //font-family: 'Edu NSW ACT Foundation', cursive;
      font-size: 1em;
      font-weight: 700;
      margin: 5px 0;
      text-transform: uppercase;
    }
  }
}