
.wrapper {
  //position: absolute;
  width: 400px;
  height: 40px;
  //top: 20px;
  //left: calc(50% - 200px);

  @media screen and (max-width: 750px){
    width: 300px;
    height: 35px;
    //left: calc(50% - 150px);
  }
  @media screen and (max-width: 460px){
    width: 250px;
    height: 35px;
  }



  .input {
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 1.1em;
    color:#000;
    background-color: rgba(255, 255, 255, 0.12);
    transform: scale(1);
    transition: transform 0.6s;



    @media screen and (max-width: 750px){
      width: 300px;
      height: 35px;
      padding: 8px;
    }
    @media screen and (max-width: 460px){
      width: 250px;
      height: 35px;
      padding: 8px;
    }

  }
  input::placeholder{
    color: #000;
    opacity: .4;
  }
  input:focus {
    outline: none;
    border: 1px solid #05304f;
  }
  input:hover {
    transform: scale(1.05);
    transition: transform 0.6s;
  }


}
